@* load folder Models de su dung cac class ben trong *@
@using Add_TemplateAdmin.Models
@functions{
    //doi tuong thao tac csdl
    public DataContext db = new DataContext();
    //ham liet ke cac danh muc san pham cap 0
    public List<Categories> ListCategories()
    {
        var _listRecord = db.Categories.Where(tbl => tbl.parent_id == 0).OrderByDescending(tbl => tbl.id).ToList();
        return _listRecord != null ? _listRecord : new List<Categories>();
    }
    //ham liet ke cac danh muc san pham cap 1
    public List<Categories> ListSubCategories(int _id)
    {
        var _listRecord = db.Categories.Where(tbl => tbl.parent_id == _id).OrderByDescending(tbl => tbl.id).ToList();
        return _listRecord != null ? _listRecord : new List<Categories>();
    }
}
<style>
    .shopping-card > span {
        position: absolute;
        width: 25px;
        height: 25px;
        background: #00b1ff;
        color: #fff;
        line-height: 25px;
        text-align: center;
        border-radius: 30px;
        top: 0px;
        right: 10px;
        transition: all 0.2s ease-out 0s;
        padding: 0px;
    }

    #box-search-sub > ul > li {
        margin-bottom: 5px;
    }

    div#box-search {
        margin-right: 123px;
    }

    #box-search {
        position: relative;
    }

    #box-search-sub {
        position: absolute;
        margin-left: -222px;
        right: -155px;
        z-index: 100;
        background: pink;
        display: none;
        margin-top:35px;
    }

        #box-search-sub ul {
            padding: 0px;
            margin: 0px;
            list-style: none
        }

        #box-search-sub img {
            width: 100px;
        }

        #box-search-sub ul li:hover {
            background: #dddddd;
        }
</style>
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top top-bg d-none d-lg-block">
                <div class="container-fluid">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left d-flex">
                                <div class="flag">
                                    <img id="flag" src="~/Assets/frontend/img/icon/header_icon.png" alt="" height="30px" width="30px">
                                </div>
                                <div class="select-this">
                                    <form action="#">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="">VNA</option>
                                                <option value="">USA</option>
                                                <option value="">JP</option>
                                                <option value="">KR</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <ul class="contact-now">
                                    <li>+0355882001</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul>
                                    <li><a href="login.html">My Account </a></li>
                                    <li><a href="product_list.html">Wish List </a></li>
                                    <li><a href="/Admin">Admin</a></li>
                                    @if (this.Session["name"] != null)
                                    {
                                        <li><a href="#">User Name: @this.Session["name"].ToString()</a></li>
                                        <text>
                                            <li><a href="/Account/Logout">Đăng xuất</a></li>
                                        </text>
                                    }
                                    else
                                    {
                                        <li><a href="/Account/Login">Đăng nhập</a></li>
                                        <text>&nbsp; &nbsp;</text>
                                        <li><a href="/Account/Register">Đăng ký</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo">
                                <a href="/Home/Index"><img class="logo" src="~/Assets/frontend/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5" style="max-width:40%;margin-right:65px;">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/Home/Index">Home</a></li>
                                        <li>
                                            <a href="#">Catagori</a>
                                            <ul class="submenu">
                                                @{
                                                    //lay danh muc cap 1
                                                    var _listRecordCategories = ListCategories();
                                                }
                                                @foreach (var item in _listRecordCategories)
                                                {
                                                    <li><a style="font-weight:bold" href="/Product/Categories?category_id=@item.id">@item.name</a></li>
                                                    //lay cac danh muc cap 2
                                                    var _listRecordSubCategories = ListSubCategories(item.id);
                                                    foreach (var itemSub in _listRecordSubCategories)
                                                    {
                                                        <li style="padding-left:20px;"><a href="/Product/Categories?category_id=@itemSub.id">@itemSub.name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog.html">Blog</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-blog.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="/Cart/Index">Card</a></li>
                                                <li><a href="elements.html">Element</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="confirmation.html">Confirmation</a></li>
                                                <li><a href="cart.html">ShoppingCart</a></li>
                                                <li><a href="checkout.html">Product Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/Contact/Index">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                <li class="d-none d-xl-block search">
                                    <div class="form-box f-right " id="box-search" style="margin-right:123px;">
                                        <script type="text/javascript">
                                            function search() {
                                                key = document.getElementById("key").value;
                                                location.href = "/Product/Search?key=" + key;
                                                return false;
                                            }
                                            function searchForm(event) {
                                                //neu keypress la enter
                                                if (event.keyCode == 13) {
                                                    key = document.getElementById("key").value;
                                                    //alert(key);
                                                    location.href = "/Product/Search?key=" + key;
                                                }
                                                return false;
                                            }
                                            function ajaxSearch() {
                                                key = document.getElementById("key").value;
                                                if (key != "") {
                                                    document.getElementById("box-search-sub").setAttribute("style", "display:block;");
                                                    //---
                                                    $("#box-search-sub ul").empty();
                                                    $.ajax({
                                                        url: "/Product/AjaxSearch?key=" + key,
                                                        success: function (result) {
                                                            //$( "#weather-temp" ).html( "<strong>" + result + "</strong> degrees" );
                                                            //alert(result);
                                                            $("#box-search-sub ul").append(result);
                                                        }
                                                    });
                                                    //---
                                                }
                                                else {
                                                    document.getElementById("box-search-sub").setAttribute("style", "display:none;");
                                                }

                                            }
                                            //function offAjaxSearch() {
                                            //    document.getElementById("box-search-sub").setAttribute("style", "display:block;");
                                            //    //$(document).ready(function () {
                                            //    //    $("#key").blur(function () {
                                            //    //        alert("This input field has lost its focus.");
                                            //    //        //this.setAttribute("style", "display:none;");
                                            //    //    });
                                            //    //});
                                            //}
                                        </script>

                                        <input type="text" class="search" onkeypress="searchForm(event);" onkeyup="ajaxSearch();" onblur="offAjaxSearch();" name="Search" id="key" placeholder="Search products" style="width:150%;">


                                        <div style="margin-top:35px;" class="search-icon" id="box-search-sub">
                                            <ul>
                                            </ul>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-search special-tag" onclick="return search();" style="position:absolute;margin-left:-30px;margin-top:15px;"></i>

                                </li>

                                <li class="d-none d-lg-block buy">
                                    @{
                                        //khai bao danh sach Cart
                                        List<CartItem> Cart = new List<CartItem>();
                                        if (Session["Cart"] == null)
                                        {
                                            Session["Cart"] = Cart;
                                        }
                                        else
                                        {
                                            Cart = Session["Cart"] as List<CartItem>;
                                        }
                                        //tin tong so san pham trong gio hang
                                        int soluong = 0;
                                        foreach (var item in Cart)
                                        {
                                            soluong++;
                                        }
                                    }

                                    <style>

                                        /*cc*/
                                        .shopping-card {
                                            position: relative;
                                            display: inline-block;
                                        }

                                        .dropdown-content {
                                            display: none;
                                            position: absolute;
                                            background-color: #f1f1f1;
                                            /*min-width: 160px;*/
                                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                            z-index: 1;
                                            padding-left: 80px;
                                        }

                                            .dropdown-content a {
                                                color: black;
                                                padding: 12px 16px;
                                                text-decoration: none;
                                                display: block;
                                            }

                                        .shopping-card:hover .dropdown-content {
                                            display: block;
                                        }
                                    </style>
                                    <div class="shopping-card">
                                        <span>@soluong</span>
                                        <a href="/Cart/Index"><i class="fas fa-shopping-cart"></i></a>
                                        <div class="dropdown-content" style="padding: 0;left: -165px;width: 400px;">
                                            <ul>
                                                @foreach (var item in Cart)
                                                {
                                                    <li class="clearfix" id="item-1853038" style="display: flex;padding: 0;">
                                                        <div class="image" style="width: 30%;"> <a href="/Product/Detail/@item.id"> <img style="height:70px;" alt="@item.name" src="~/Assets/Upload/Products/@item.photo" title="@item.name" class="img-responsive" style="height:20px;"> </a> </div>
                                                        <div class="info" style="width:70%">
                                                            <h3><a href="/Product/Detail/@item.id">@item.name</a></h3>
                                                            <p>@item.number x @String.Format("{0:N0}", item.price)₫</p>
                                                        </div>
                                                        <div><a href="/Cart/Delete/@item.id"><i class="fa fa-times"></i></a> </div>

                                                    </li>
                                                }
                                            </ul>
                                            @if (Session["name"] != null)
                                            {
                                                <a href="/Cart/Checkout" onclick="buys()" class="button btn text-center">Thanh toán</a>
                                            }
                                        </div>
                                    </div>

                                </li>
                                <li class=" d-none d-xl-block">
                                    <div class="favorit-items">
                                        <i class="far fa-heart"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<script>
    function buys() {
        var txt;
        if (confirm("Bạn có đồng ý thanh toán không ?")) {
            txt = "Bạn thanh toán thành công";
        } else {
            txt = "Ok";
        }
        alert(txt);
    }
</script>

